body{
    font-family: Arial, sans-serif;
    background:#f2f4f7;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.form{
    background:#fff;
    padding:20px;
    width:350px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.row{
    display:flex;
    gap:10px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:14px;
}

textarea{
    resize:none;
}

button{
    width:100%;
    margin-top:15px;
    padding:10px;
    background:#2c5364;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#203a43;
}
